## Intro

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.chdir('/Users/timothymiller/Desktop/Dataset-SS')

In [4]:
# excel file of 4 sheets
file = pd.ExcelFile('schoolshootingdatabase.xlsx')

In [5]:
all_sheets = file.sheet_names # gets list of all sheet names
dfs = {sheet: file.parse(sheet) for sheet in all_sheets} # dictionary of dataframes for each sheet

In [7]:
for sheetname in all_sheets:
    print(sheetname)

Cover
Incident
Shooter
Victim
Weapon

In [8]:
incident = dfs['Incident']
shooter = dfs['Shooter']
victim = dfs['Victim']
weapon = dfs['Weapon']

## Incident Dataset

In [9]:
incident.head()

,Incident_ID,Month,Day,Year,Date,School,Victims_Killed,Victims_Wounded,Number_Victims,Shooter_Killed,...,Situation,Targets,Accomplice,Hostages,Barricade,Officer_Involved,Bullied,Domestic_Violence,Gang_Related,Active_Shooter_FBI
0,20230329GANED,3,29,2023,2023-03-29,New Manchester High School,0,0,0,1,...,NaN,Neither,No,No,No,No,No,No,No,No
1,20230327TNCON,3,27,2023,2023-03-27,Covenant School,6,1,7,1,...,Indiscriminate Shooting,Random Shooting,No,No,No,No,NaN,No,No,Yes
2,20230324INNOM,3,24,2023,2023-03-24,Northridge Middle School,0,0,0,1,...,Suicide/Attempted,Victims Targeted,No,No,No,No,No,No,No,No
3,20230324NJTHM,3,24,2023,2023-03-24,Thunderbolt Academy,0,0,0,0,...,NaN,Victims Targeted,No,No,No,No,No,No,NaN,No
4,20230322ALANA,3,22,2023,2023-03-22,Anniston High School,0,1,1,0,...,Accidental,Neither,No,No,No,No,No,No,No,No